 <li><%=link_to "Central Bank",{:controller => 'banks',:action => 'central_bank'},:class => is_active?("central_bank") %></li>
  <li><%=link_to "Sovereign wealth Funds",{:controller => 'banks',:action => 'funds'},:class => is_active?("funds")%></li>
  <li><%=link_to "Supranational &amp; Sovereign Issuers",{:controller => 'banks',:action => 'sovereign'},:class => is_active?("sovereign")%></li>
   <li><%=link_to "Asset Managers",{:controller => 'banks',:action => 'asset'},:class => is_active?("asset")%></li>
    <li><%=link_to "Hedge Funds",{:controller => 'banks',:action => 'hedge_funds'},:class => is_active?("hedge_funds")%></li>
    <li><%=link_to "Banks &amp; dealers",{:controller => 'banks',:action => 'banks_dealers'},:class => is_active?("banks_dealers")%></li>
     <li><%=link_to "Other issuers",{:controller => 'banks',:action => 'other_issuers'},:class => is_active?("other_issuers")%></li>
      <li><%=link_to "Links",{:controller => 'banks',:action => 'links'},:class => is_active?("links")%></li>