<script language="javascript">
  function resetNavigation() {
   $("#leftMenu li").each(function(){
   /* e.preventDefault;
    this.blur(); */
   $(this).removeClass('active');
    /*  return updateNavigation($(this).attr('title'));  */

});
}
$("#leftMenu li").live('click', function(e) {
   /* e.preventDefault;
    this.blur(); */
    resetNavigation();
   $(this).addClass('active');
    /*  return updateNavigation($(this).attr('title'));  */

});
  </script>

<div id="backEnd" style="padding:10px 30px 0px 0px;">
  <div class="pageHdr">
    	<h4>Resources</h4>
	<%= link_to "Add Sovereign Wealth Fund",{:controller => 'banks',:action =>'new_fund'},:class =>'plusLink floatRight' %>
	</div>
<div id ="view" class="rightContent">
  <div class="editBank lightGrayBg">
    <fieldset>
<h4>Edit Bank Information</h4>

<% form_for :fund, @fund , :url => {:action => "update_fund",:id=>@fund.id } do |f| %>

<%= error_messages_for :fund %>

<ul class="form vertical">
<%= flash[:notice] %>
<li>
    <label for="country">Country</label>
    <%= f.text_field :country_name,:class => "text" %>
</li>

  <li>
  <label for="bank_name">Fund Name</label>
    <%= f.text_field :fund_name,:class => "text" %>
  </li>
<li>
<label for="url">URL</label>
    <%= f.text_field :url_name,:class => "text" %>
  </li>
<li>
  <label for="assest">assest</label>
    <%= f.text_field :assest,:class => "text" %>
</li>
<li>
<label for="inception">Inception</label>
 <%= f.text_field :inception,:class => "text" %>
</li>
 <li>
    <%= image_submit_tag "/images/new_images/button_update.png",:class => "button" %>
 </li>
<% end %>

<li>
<%= link_to 'Back to list of Central Banks',{:action=>'index'},:class =>"back" %></li>
</ul>
</fieldset>
  </div>
</div>
 <ul id="leftMenu">
 <li id="one"><%=link_to_remote "Central Bank", :update =>'view', :success => "updateNavigation();" ,:url =>{:controller => 'banks',:action => 'central_bank'},:with => "'choose=' +encodeURIComponent('central_bank')" %></li>
	<li><%=link_to_remote "Sovereign wealth Funds",:update =>'view',:url =>{:controller => 'banks',:action => 'central_bank'},:method => :post,:with => "'choose=' +encodeURIComponent('wealthfunds')" %></li>
  	<li><%=link_to_remote "Supranational &amp; Sovereign Issuers",:update =>'view',:url =>{:controller => 'banks',:action => 'central_bank'},:with => "'choose=' +encodeURIComponent('sovereign')" %></li>
	<li><%=link_to_remote "Asset Managers",:update =>'view',:url =>{:controller => 'banks',:action => 'central_bank'},:with => "'choose=' +encodeURIComponent('asset')" %></li>
   	<li><%=link_to_remote "Hedge Funds",:update =>'view',:url =>{:controller => 'banks',:action => 'central_bank'},:with => "'choose=' +encodeURIComponent('hedge')" %></li>
   	<li><%=link_to_remote "Banks &amp; dealers",:update =>'view',:url =>{:controller => 'banks',:action => 'central_bank'},:with => "'choose=' +encodeURIComponent('bankdealers')" %></li>
    <li><%=link_to_remote "Other issuers",:update =>'view',:url =>{:controller => 'banks',:action => 'central_bank'},:with => "'choose=' +encodeURIComponent('otherissuer')" %></li>
   	<li><a href="resources_news.html">News</a></li>
   <li><%=link_to_remote "Links",:update =>'view',:url =>{:controller => 'banks',:action => 'central_bank'},:with => "'choose=' +encodeURIComponent('links')" %></li>
	</ul>
</div>