<%- column_div :type => :primary do -%>


<h2>  Link Details</h2>

<p>  
    <b>Link Name</b>
<br/><br/>
    <%= h( @check_link.name)%>
</p>



<p>  
    <b>Icon </b>
<br/><br/>
 <a href="http://<%=@check_link.icon%>" target="_blank"><%=image_tag((@check_link.icon),:size => "100x40")%></a> 
    <%#= h( @check_link.icon)%>
</p>


<p>  
    <b>Link</b>
<br/><br/>
    <%= h( @check_link.link)%>
</p>


<br/>
<%=  link_to 'Edit' ,:action=>'edit_link',:id=>@check_link.id%> | 
<%=  link_to 'Back' ,:action=> 'index'%>
<%end%>