<div id="backEnd">
  <div class="rightContent small profile">
     <%= render :partial => 'searches/box' %>
 <div class="rightContentWrap">
      <p><%= link_to image_tag('../images/new_images/invite_user.jpg'), :controller =>'home',:action =>'invite_user'%></p>
      <%= render :partial => 'shared/requested_contacts' ,:locals => {:requested_contacts => @requested_contacts}%>
     <%= render :partial => 'shared/latest_news' ,:locals => {:items => @items}%>
 </div>
<div class="rightContentWrap noSpacing">
     <h6>Contacts</h6>
    <ul class="contacts">
    <%= render :partial => 'shared/contacts_preview',:locals => { :person => current_person } %>
   </ul>
   <ul class="contactLinks">
     <li><%= link_to "All contacts", person_connections_path(current_person) %></li>
    
   </ul>
  </div>
<!-- end of right content wrap -->
</div>
<div class="leftContent wide">
  <% if current_person?(@message.sender) %>
    <% heading = "Message sent to #{h @message.recipient.name}" %>
  <% else %>
    <% heading = "Message from #{h @message.sender.name}" %>
  <% end %>
  
  
  <h4><%= heading %></h4>
  <%= sanitize @message.subject %>
  <ul class="list person">
    <% all_messages =  @message.conversation.messages %>
    <%= render :partial => 'full_message',
               :collection => all_messages,
               :locals => { :n_messages => all_messages.length } %>
  </ul>
    <%= link_to "Back to Dashboard", home_url ,:class =>"backTo"%>
  </div>

</div>
