<div id="backEnd">
 <div class="rightContent small profile">
  <%= render :partial => 'searches/box' %>
   <div class="rightContentWrap">
      <p><%= link_to image_tag('../images/new_images/invite_user.jpg'), :controller =>'home',:action =>'invite_user'%></p>
      <%= render :partial => 'shared/requested_contacts' ,:locals => {:requested_contacts => @requested_contacts}%>
     <%= render :partial => 'shared/latest_news' ,:locals => {:items => @items}%>
  </div>
							<!-- end of right content wrap -->
<div class="rightContentWrap noSpacing">
   
   <h6>Contacts</h6>
    <ul class="contacts">
  <%= render :partial => 'shared/contacts_preview',:locals => { :person => current_person } %>
    </ul>
     <ul class="contactLinks">
   <li><%= link_to "All contacts", person_connections_path(current_person) %></li>
   
   </ul>
  </div>
  </div>

<div class="leftContent wide">
  <ul class="form vertical timeZone">
  <h4>Choose Your News Feed</h4>
    <%form_tag :controller =>'people',:action => 'choose_news_feed' do%>
    <%=collection_select('news','feed',@news_feed,:id,:name,{:prompt =>"select your Feeds"},{:id =>"select1"})%> <%=image_submit_tag '../images/new_images/button_choose.png'%>
    <%end%>
  </ul>
</div></div>