<html>
  <title>A Friend Wants You To Join The Largest central bank Community</title>
  <body bgcolor="#ffffff">

    <style type="text/css">
      <!--
      .toptext {color: #3e3e3e;padding: 5px 10px 5px 10px;background-color: #cccccc;font-size:10px;}
      p {font-size:12px;margin: 0 0 6px 0; line-height:14px; font-family: arial, helvetica, sans-serif;}
      a {color:#1d4e90;}
      .footertext {background-color: #555555;padding: 5px 0 5px 0;color: #ffffff;font-size: 10px;}
      .headerbanner {font-size: 15px; font-weight: bold;}
      td {font-family: arial, helvetica, sans-serif;}
      -->
    </style>

    <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="top" align="center">
          <table width="600" bgcolor="#ffffff" cellpadding="0" cellspacing="0">
            <%= render :partial=>'/person_mailer/header_row' %>
            <tr>
              <td bgcolor="#ffffff" valign="top"><img src="<%= @host %>/images/email/shim.gif" width="25" height="5" border="0">
              </td>

              <td valign="top">
                <br />
                <p>Hello <%=@user.name%>,<br/>
               <p>Welcome to central bank network.<p><br/>
             <p> Your account have been succesfully activated by Central Bank .</p><br/>
             <p>Click on the following link to login.</p>
            <p><a href="<%= @url %>"> <%= @url %></a></p><br />
                <p>Thanks!</p>
                         
                <p>Please do not reply to this e-mail.</p>

              </td>

              <td bgcolor="#ffffff" valign="top"><img src="<%= @host %>/images/email/shim.gif" width="25" height="5" border="0"></td>
            </tr>
            <%= render :partial=>'/person_mailer/footer_row' %>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>




