<tr><td>
  <a name="topic_<%= topic.id %>"></a>
  <div class="profile-image">
     <%unless topic.person.docattachments.length < 1%>
    <%  topic.person.docattachments.each do |attachment|%>

      <%= image_tag attachment.public_filename,
        :alt => h(topic.person.name),:width=>72,:height=>72  %>
    <%end%>
  <%else%>
    <%= image_tag "default.png",:width=>72,:height=>72 ,:alt => h(topic.person.name)  %>
  <%end%>
</div></td>
 <td>
    <%- n = topic.posts.count -%>
 <h6>   <%= link_to h(topic.name),
                forum_topic_path(topic.forum, topic, :comments => n),
                :class => "show-follow" %>
 <span class="meta">(<%= pluralize(n, "post") %>)</span> </h6>
   <ul class="newsInfo">
      <% if DateTime.now.strftime("%Y-%m-%d") != topic.created_at.strftime("%Y-%m-%d") %>
      <li>Started by <%= person_link topic.person %></li>
	  <%=topic.created_at.strftime("%B %d, %Y")%> , <%=topic.created_at.strftime("%I:%M %p")%>
      <%else%>
       <li>Started by <%= person_link topic.person %>
        <%=topic.created_at.strftime("%B %d, %Y")%> , <%= time_ago_in_words topic.created_at%> ago</li>
      <%end%>
   </ul>
      <%#= time_ago_in_words(topic.created_at) %>
      <%- if admin? -%>
        <ul class="options">
        <li><%= link_to "Edit",
          edit_forum_topic_path(topic.forum, topic),
          :title => 'Edit Topic' %></li>
      <li><%= link_to "Delete",
               forum_topic_path(topic.forum, topic), 
               :method => :delete,
               :confirm => "Are you sure you want to delete this Topic?",
          :title => "Delete Topic" %></li>
          </ul>
      <%- end -%>
    

</tr>
