<ul id="bottomMenu">
 <li> <%= link_to "about", '/about' %></li>
 <li> <%= link_to "privacy",{:controller =>'infos',:action =>'privacy_policy'}%></li>
 <li> <%= link_to "Terms of Use",{:controller =>'infos',:action =>'terms_of_use'}%></li>
<li><%= link_to "contact us",{:controller => 'infos',:action =>'contact_us'}%></li>
<li><%= link_to "Help",{:controller => 'infos',:action =>'help'}%></li>
</ul>
                
