<tr>
  <td>
  <div class="profile-image">
     <%unless room.person.docattachments.length < 1%>
    <%  room.person.docattachments.each do |attachment|%>

      <%= image_tag attachment.public_filename, :class => "profile-image photo",
        :alt => h(room.person.name),:height=>62,:width=>62  %>
    <%end%>
  <%else%>
    <%= image_tag "default.png",:height=>62,:width=>62 ,:alt => h(room.person.name)  %>
  <%end%>
   </div>
  </td>
 
 <td>
   <ul class="newsInfo">
<% if DateTime.now.strftime("%Y-%m-%d") == room.created_at.strftime("%Y-%m-%d") %>
  <li>
  <%=link_to room.person.name,:controller=>:people,:action=>:show,:id=>room.person_id%> </li>
   <li><%=room.created_at.strftime("%m/%d/%y")%> <%= time_ago_in_words room.created_at %> ago
    </li>
   <% else %>
   <li>
   <%=link_to room.person.name,:controller=>:people,:action=>:show,:id=>room.person_id%><li><li> <%=room.created_at.strftime("%m/%d/%y")%> at <%=room.created_at.strftime("%I:%M:%S %p")%>
   </li>
  <%end%>
  <% if room.person_id==current_person.id %>
    
    <%= link_to image_tag('icons/page_white_delete.png'), room, :confirm => 'Are you sure?', :method => :delete %>
    
  <%end%>
   <% if room.person_id==current_person.id %>
      <%= link_to image_tag('icons/page_white_edit.png'),:controller=>'rooms',:action=>'edit',:id=>room.id %>
      <%end%>  
   </ul></td>
    <td><%=link_to room.title,:controller=>'rooms',:action=>'show',:id=>room.id%></td>
 </tr>
